{% extends 'base.html' %}

{% block content %}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-7 fw-bold">Emergency Contacts</h1>
        <p class="col-md-8 fs-4">Here's a list of all your emergency contacts</p>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email ID</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                <tr>
                    <td>{{contact.full_name}}</td>
                    <td>{{contact.phone_number}}</td>
                    <td>{{contact.email_address}}</td>
                    <td>Update, Delete</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}