{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-7 fw-bold">Update Profile</h1>
        <p class="col-md-8 fs-4">Use the form below to make changes to your profile</p>
    </div>
</div>

<form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-floating mb-3">
                {% render_field form.first_name class="form-control" %}
                <label for="floatingInput">First Name</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                {% render_field form.surname class="form-control" %}
                <label for="floatingInput">Surname</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                {% render_field form.dob class="form-control" type="date" %}
                <label for="floatingInput">Date of Birth</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                {% render_field form.gender class="form-control" %}
                <label for="floatingInput">Gender</label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-floating mb-3">
                {% render_field form.address class="form-control" %}
                <label for="floatingInput">Address</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                {% render_field form.phone_number class="form-control" %}
                <label for="floatingInput">Phone Number</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-floating mb-3">
                {% render_field form.state class="form-control" %}
                <label for="floatingInput">Current State</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-floating mb-3">
                {% render_field form.country class="form-control" %}
                <label for="floatingInput">Country</label>
            </div>
        </div>
    </div>
    
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button> 
</form>

{% endblock content %}