{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-7 fw-bold">Book an Appointment</h1>
        <p class="col-md-8 fs-4">Book an appointment with any hospital to get medical assistance</p>
    </div>
</div>

<form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <div class="form-floating mb-3">
                {% render_field form.date class="form-control" type="date" %}
                <label for="floatingInput">Select Appointment Date</label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-floating mb-3">
                {% render_field form.reason class="form-control" %}
                <label for="floatingInput">Reasons</label>
            </div>
        </div>
    </div>
    
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button> 
</form>

{% endblock content %}